@page
@using Ai_Panel.Application.Constants
@using Ai_Panel.Application.Tools
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Ai_Panel.Pages.Admin.MultiStepAiConfig.IndexModel
@{
    ViewData["Title"] = "تنظیمات هوش مصنوعی";
}

<div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-12 col-12 mt-3">
        <div class="card shadow">
            <h6 class="card-header">لیست نسخه ها</h6>
            <div class="col-4 me-3 mt-3">
                <a class="btn btn-outline-success btn-sm" asp-page="/Admin/MultiStepAiConfig/Add">
                    <i class="fa fa-plus"></i>
                    ایجاد تنظیمات جدید
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive table">
                    <table class="table-hover table-bordered table">
                        <thead>
                            <tr>
                                <th>
                                    آیدی
                                </th>
                                <th>
                                    عنوان
                                </th>
                                <th>
                                   مدل ها
                                </th>
                                <th>
                                    عملیات
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                             @foreach (var item in Model.AiConfigGroup)
                            { 
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GroupId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @string.Join("  ,  ", item.Modles) 
                                    </td>
                                    <td>
                                        <a class="btn btn-sm" href="/Admin/MultiStepAiConfig/Edit?id=@item.GroupId">
                                            <i class="fa fa-edit text-warning"></i>
                                        </a>
                                        <a class="btn btn-sm">
                                            <i class="fa fa-link text-success"></i>
                                        </a>
                                        <a class="btn btn-sm mouse-pointer">
                                            <i class="fa fa-trash text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                             } 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.AntiForgeryToken()