@page
@model Ai_Panel.Pages.Admin.AiContent.EditModel
@{
    string title = "ویرایش محتوای کتاب";
    ViewData["Title"] = title;
}
<div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-12 col-12">
        <div class="card shadow">
            <h5 class="card-header">افزودن محتوای هوش مصنوعی</h5>
            <div class="card-body">
                <section class="card-text">
	                <form id="FormInModal" method="Post" enctype="multipart/form-data">
                        @* <input type="hidden" asp-for="AiContentUpsertDto.BookId"/> *@
                        <input type="hidden" asp-for="AiContentUpsertDto.Id"/>
                        <input type="hidden" asp-for="AiContentUpsertDto.DateTime"/>
                        <input type="hidden" asp-for="AiContentUpsertDto.IsDelete"/>
                        @* <input type="hidden" asp-for="AiContentUpsertDto.PartId"/> *@
		                @Html.AntiForgeryToken()
		                @if (!string.IsNullOrEmpty(Model.Error))
		                {
			                <p class="alert alert-danger">@Model.Error</p>
		                }
		                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
		                <div class="row mb-3">
			                <div class="col-lg-3 col-md-3 col-3 mb-2">
				                <label class="">پایه</label>
				                @* <input class="form-control" asp-for="AiContentUpsertDto.Book.BookCategory.GroupTitle" disabled/> *@
				                <span class="text-danger"></span>
			                </div>
			                <div class="col-lg-3 col-md-3 col-3 mb-2">
				                <label class="">کتاب</label>
@* 				                <input class="form-control" asp-for="AiContentUpsertDto.Book.Name" disabled/>
 *@				                <span class="text-danger"></span>
			                </div>
			                <div class="col-lg-3 col-md-3 col-3 mb-2">
				                <label class="">فصل</label>
@* 				                <input class="form-control" asp-for="AiContentUpsertDto.Part.PartName" disabled/>
 *@				                <span class="text-danger"></span>
			                </div>
			                <div class="col-lg-3 col-md-3 col-3 mb-2">
				                <label class="">کانفیگ هوش مصنوعی</label>
				                <select class="form-select custom-select" asp-for="AiContentUpsertDto.AiConfigId" asp-items="ViewBag.AiConfigs">
					                <option disabled selected>لطفا موردی را انتخاب کنید</option>
				                </select>
				                <span class="text-danger"></span>
			                </div>
			                <div class="col-lg-12 col-md-12 col-12 my-3">
				                <textarea class="form-control" id="autoTextarea" rows="20" asp-for="AiContentUpsertDto.Content"></textarea>
			                </div>
			                <div class="col-lg-12 col-md-12 col-12 mt-2 ">
				                <div class="d-grid gap-2">
					                <button class="btn btn-primary mt-5" type="submit">ثبت</button>
				                </div>
			                </div>
		                </div>
	                </form>
                </section>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script>
       
    </script>
}