@{
    ViewData["Title"] = "Error 404";
}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3">
            صفحه مورد نظر یافت نشد.
        </p>
        <p class="lead">
            ممکن است صفحه ای که به دنبال آن میگردید حذف شده باشد و یا آدرس آن را به درستی وارد نکرده باشید
        </p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">بازگشت به خانه</a>
    </div>
</div>