@page
@model Ai_Panel.Pages.LoginModel
@using Ai_Panel.Application.Constants;
@{
	ViewData["Title"] = "ورود";
	Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-md-center mt-5 pt-5">
	<div class="col-md-5 col-lg-5 col-12">
		<div class="card shadow py-5">
			<div class="card-body py-5">
				<section class="card-text">
					<div>
						@Html.AntiForgeryToken()
						<input type="hidden" asp-for="ReturnUrl" />
						<h4 class="text-center mb-5">ورود به حساب کاربری</h4>
						<div class="mb-3">
							<label asp-for="@Model.Login.MobileNumber">شماره تلفن</label>
							<input class="form-control" autocomplete="off" type="tel" maxlength="11" id="MobileNumber" placeholder="شماره تلفن" />
							<span class="text-danger"></span>
						</div>
						<div class="mb-3" style="display:none" id="otp-container">
							<label>کد ارسال شده</label>
							<input class="form-control" autocomplete="off" placeholder="کلمه عبور" id="otp-code" />
						</div>
						<div class="gap-2 mt-3 mb-3" id="send-otp" style="display:grid">
							<button class="btn btn-primary" id="send-otp-btn">ارسال کد</button>
						</div>
						<div class="gap-2 mt-3 mb-3" id="verify-otp" style="display:none">
							<button class="btn btn-primary" id="verify-otp-btn">تایید کد ورود</button>
						</div>
					</div>
				</section> 
			</div>
		</div>
	</div>
</div>

<script>
	const sendOtpBtn = document.getElementById("send-otp-btn");
	const otpContainer = document.getElementById("otp-container");
	const sendOtp = document.getElementById("send-otp");
	const verifyOtp = document.getElementById("verify-otp");
	const verifyOtpBtn = document.getElementById("verify-otp-btn");


	sendOtpBtn.addEventListener("click",()=>{
		const mobileNumber = document.getElementById("MobileNumber").value;
		const otpCode = document.getElementById("otp-code");
		console.log(mobileNumber);
		if(!mobileNumber || mobileNumber == "" ){
			ShowToast("error","شماره تلفن را وارد نمایید");
			return;
		}
		if(mobileNumber.length !== 11 || !mobileNumber.startsWith("09")){
			ShowToast("error","شماره تلفن را به درستی وارد نمایید");
			return;
		}
		fetch('/api/Auth/SendOtp', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify({mobileNumber}),
		})
		.then(res => res.json())
		.then(data => {
			if(data.errorId == 0 ){
				ShowToast("success",data.result);
				otpContainer.style.display = "block";
				sendOtp.style.display = "none";
				verifyOtp.style.display = "grid";
			}
			console.log(data)
		})

		verifyOtpBtn.addEventListener("click",()=>{
			const mobileNumber = document.getElementById("MobileNumber").value;
			const code = document.getElementById("otp-code").value;
			if(!mobileNumber || mobileNumber == "" ){
				ShowToast("error","شماره تلفن را وارد نمایید");
				return;
			}
			if(mobileNumber.length !== 11 || !mobileNumber.startsWith("09")){
				ShowToast("error","شماره تلفن را به درستی وارد نمایید");
				return;
			}
			if(!otpCode){
				ShowToast("error","کد را به درستی ارسال نمایید");
				return;
			}
			const formData = new FormData();
			formData.append('mobileNumber', mobileNumber);
			formData.append('code', code);

			fetch('?handler=VerifyOtp', {
				method: 'POST',
				headers: {
					'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
				},
				body: formData
			})
			.then(res => res.json())
			.then(data => {
				if(data.errorId == 0 ){
					ShowToast("success","شما با موفقیت وارد شدید");
					window.location.href = data.redirectUrl;
				}
				else if(data.errorId !== 0){
					ShowToast("error", data.errorTitle);
				}
			console.log(data)
		})

		});




	});



</script>