<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <title>@ViewData["Title"]</title>

    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />
    <link href="~/css/jquery-confirm.rtl.css" rel="stylesheet" />
    <link href="~/fonts/fontiran.css" rel="stylesheet" />
    <link href="~/css/color.css" rel="stylesheet" />
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/waitme.min.css" rel="stylesheet" />
    <link href="~/css/persian-datepicker.min.css" rel="stylesheet" />
    <link href="~/css/adminlte.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/css/app.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/chat.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-confirm.min.js"></script>
    <script src="~/js/persian-date.min.js"></script>
    <script src="~/js/persian-datepicker.min.js"></script>
    <script src="~/js/helper.js" asp-append-version="true"></script>
    @*<script src="https://kit.fontawesome.com/f02f2d5598.js" crossorigin="anonymous"></script>*@
    <script src="~/js/kit.fontawesome.js"></script>
    <script src="~/js/waitme.min.js"></script>
    <script src="~/js/modalhandler.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/chart.js"></script>
    <script src="~/js/select2.full.min.js"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>