@{
    ViewData["Title"] = "دسترسی";
}

<section class="card-text">
    <p class="alert alert-info text-center">
        شما دسترسی لازم برای این صفحه را ندارید .
        <br />
        <a class="btn btn-outline-danger me-1 mt-3" href="/Admin/SignOut">
            <i class="fa fa-sign-out"></i>
            خروج
        </a>
        <a class="btn btn-outline-danger me-1 mt-3" href="/Admin/Home/Index">
            <i class="fa fa-sign-out"></i>
            صفحه اصلی
        </a>
    </p>
</section>


@*<div class="row justify-content-md-center mt-5">
    <div class="col-md-5 col-lg-5 col-12">
        <div class="card shadow">
            <div class="card-body">
                <section class="card-text">
                    <p class="alert alert-info text-center">
                        شما دسترسی لازم برای این صفحه را ندارید .
                        <br />
                        <a class="btn btn-outline-danger me-1 mt-3" href="/AdminLogin/LogOut">
                            <i class="fa fa-sign-out"></i>
                            خروج
                        </a>
                        <a class="btn btn-outline-danger me-1 mt-3" href="/Admin/AdminHome/Index">
                            <i class="fa fa-sign-out"></i>
                            صفحه اصلی
                        </a>
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>*@
