@page
@model Ai_Panel.Pages.Admin.ContractModel
@{
}
<div class="card shadow-sm">
    <div class="card-body">
        <h5 class="card-title mb-3">متن قرارداد</h5>
        <p class="card-text">
            @ViewData["Contract"]   
        </p>
    </div>
</div>
