@page
@model Live_Book.Pages.Admin.AiContent.AddModel
@{
    string title = "افزودن محتوای کتاب";
    ViewData["Title"] = title;
}
<div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-12 col-12">
        <div class="card shadow">
            <h5 class="card-header">افزودن محتوای هوش مصنوعی</h5>
            <div class="card-body">
                <section class="card-text">
                    <form id="FormInModal" method="Post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        @if (!string.IsNullOrEmpty(Model.Error))
                        {
	                        <p class="alert alert-danger">@Model.Error</p>
                        }
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-3 col-3 mb-2">
                                <label class="">پایه</label>
                                <select class="form-select custom-select" asp-items="ViewBag.BookGroup" id="bookGroupId" onchange="bookGroupChange()">
                                    <option disabled selected>لطفا موردی را انتخاب کنید</option>
                                </select>
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-3 mb-2">
                                <label class="">کتاب</label>
                                @* <select class="form-select custom-select"  id="bookSelectBox" onchange="bookChange()" asp-for="AiContentUpsertDto.BookId"> *@
                                    <option disabled selected>لطفا موردی را انتخاب کنید</option>
                                @* </select> *@
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-3 mb-2">
                                <label class="">فصل</label>
                                @* <select class="form-select custom-select"  id="bookPartsSelectBox" asp-for="AiContentUpsertDto.PartId">
                                    <option disabled selected>لطفا موردی را انتخاب کنید</option>
                                </select> *@
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-3 mb-2">
	                            <label class="">کانفیگ هوش مصنوعی</label>
                                <select class="form-select custom-select" asp-for="AiContentUpsertDto.AiConfigId" asp-items="ViewBag.AiConfigs">
                                    <option disabled selected>لطفا موردی را انتخاب کنید</option>
                                </select>
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12 my-3">
                                <textarea class="form-control" id="autoTextarea" rows="20" asp-for="AiContentUpsertDto.Content"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12 mt-2 ">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary mt-5" type="submit">ثبت</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script>
        var books = @Html.Raw(ViewBag.Books);
        var bookParts = @Html.Raw(ViewBag.BookParts);
        var bookSelectBox = document.getElementById('bookSelectBox');
        var bookPartsSelectBox = document.getElementById('bookPartsSelectBox');
        function bookGroupChange() {
            var selectedBookGroup = Number($('#bookGroupId').val());
            const booksChildern = books.filter(item => item.GroupId === selectedBookGroup);
            let options = bookSelectBox.getElementsByTagName('option');
            for (var i = options.length; i--;) {
                bookSelectBox.removeChild(options[i]);
            }
            let defaultOption = new Option('لطفا موردی را انتخاب کنید', '0');
            defaultOption.setAttribute("disabled", "true");
            defaultOption.setAttribute("selected", "selected");
            bookSelectBox.add(defaultOption, undefined);
            for (const element of booksChildern) {
                let newOption = new Option(`${element.Title}`, `${element.Id}`);
                bookSelectBox.add(newOption, undefined);
            }
        }
        function bookChange() {
            var selectedBook = Number($('#bookSelectBox').val());
            const bookPartsChildern = bookParts.filter(item => item.BookId === selectedBook);
            let options = bookPartsSelectBox.getElementsByTagName('option');
            for (var i = options.length; i--;) {
                bookPartsSelectBox.removeChild(options[i]);
            }
            let defaultOption = new Option('لطفا موردی را انتخاب کنید', '0');
            defaultOption.setAttribute("disabled", "true");
            defaultOption.setAttribute("selected", "selected");
            bookPartsSelectBox.add(defaultOption, undefined);
            for (const element of bookPartsChildern) {
                let newOption = new Option(`${element.Title}`, `${element.Id}`);
                bookPartsSelectBox.add(newOption, undefined);
            }
        }
    </script>
}
