@model Ai_Panel.Domain.AboutUs

@{
    ViewData["Title"] = "ایجاد درباره ما";
}
@if (ViewBag.ErorMessage == "" || ViewBag.ErorMessage == null)
{
	<form asp-action="Add" id="account" method="post" enctype="multipart/form-data">
		@Html.AntiForgeryToken()
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="row mb-3">
			<div class="col-lg-12 col-md-12 col-12 mb-2">
				<div class="">
					<label asp-for="Descreption"></label>
					<textarea rows="8" asp-for="Descreption" class="form-control"></textarea>
					<span asp-validation-for="Descreption" class="text-danger"></span>
				</div>
				<div class="mt-4">
					<label asp-for="ImageName" class="">انتخاب تصویر : </label>
					<input type="file" name="image" asp-for="ImageName" class="form-control"/>
					<span asp-validation-for="ImageName" class="text-danger"></span>
				</div>
				<div class="">
					<label class="">عکس انتخاب شده : </label>
					<img id="Publisherimg" class="img-thumbnail selected-img" alt="عکسی هنوز انتخاب نشده است"/>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-12 ">
				<div class="d-grid gap-2">
					<button class="btn btn-primary" type="submit">ثبت</button>
				</div>
			</div>
		</div>
	</form>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#Publisherimg').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#ImageName").change(function () {
            readURL(this);
        });
    </script>
}
else
{
    <div class="alert alert-danger">
        <p>
            قبلا درباره ما اضافه شده است.
        </p>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

