@* @using Ai_Panel.Application.Constants
@model Ai_Panel.Domain.AboutUs

<form asp-action="Edit" id="account" method="post" enctype="multipart/form-data">
	@Html.AntiForgeryToken()
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="row mb-3">
		<div class="col-lg-12 col-md-12 col-12 mb-2">
			<div class="">
				<label asp-for="Descreption"></label>
				<textarea asp-for="Descreption" class="form-control" rows="10"></textarea>
				<span asp-validation-for="Descreption" class="text-danger"></span>
			</div>
			<div class="mt-4">
				<label asp-for="ImageName" class="control-label">انتخاب تصویر : </label>
				<input type="file" name="image" asp-for="ImageName" class="form-control"/>
				<span asp-validation-for="ImageName" class="text-danger"></span>
			</div>
			<div class="">
				<label class="">عکس انتخاب شده : </label>
				<img id="Publisherimg" src="@ImagePath.AboutUs@Model.ImageName" class="img-thumbnail selected-img" alt="عکسی هنوز انتخاب نشده است"/>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-12 ">
			<div class="d-grid gap-2">
				<button class="btn btn-primary" type="submit">ثبت</button>
			</div>
		</div>
	</div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#Publisherimg').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#ImageName").change(function () {
            readURL(this);
        });
    </script>
 *@