@{
    ViewData["Title"] = "آموزش استفاده از اپلیکیشن ";
}
@{
    Layout = "_AppLayout";
}
<h3 class="text-center mt-3">آموزش استفاده از کتاب خوان علامه</h3>

<p class="text-center mt-3">
    اگر بعد از ورود به اپلیکیشن هیچ کتابی را مشاهده نکردید به این معنی است کتابی برای شما ثبت نشده است و میتوانید با پشتیبانی به شماره ۰۲۱۶۶۷۱۹۹۶۲ تماس بگیرید 
</p>